ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    padding: 8px;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    text-align: center;
}
body{
    background-color: azure;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid;
    border-radius: 8px;
    width: 60vw ;
}
.sup {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
.task {
    display: flex;
    align-items: center;
    width: 60%;
    margin-bottom: 10px;
}


.task span {
    margin-left: 10px;
    flex: 1;
}


.sup {
    margin-left: auto;
}